<form method="post" style="float:right;" action="{{ path('attribut_add_rep_delete', {'id': attribut_add_rep.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attribut_add_rep.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> </button>
</form>
