{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menu')) }}

    <!-- Navbar END -->



    <!-- Contact Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">

                        <!-- Vertical Menu START -->
                        <div class="services-single-left-heading">
                            <h4>Mon Menu</h4>
                        </div>
                        {{ render(controller("App\\Controller\\Client\\ClientController::menu",{id:2})) }}
                        <!-- Vertical Menu END -->

                    </div>
                </div>
                <!-- Left Side END -->

                <!-- Right Side START -->
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="services-single-left-heading">
                                <h4>Poster une annonce</h4>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="/web/client/annonce" class="btn btn-info">Annuler</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="contact-form-box mt-30">
                            <!-- Form START -->
                            <form name="nanotech_easylinkbundle_offre" method="post" class="contact-form">

                                <div class="row">
                                    <div class="col-md-12">
                                        <select id="form-specialite" name="form-specialite" required onchange="updatesous()" >
                                            <option value="0" >Sélectionnez une catégorie</option>
                                            <option value="1">sanitaire</option>

                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="nanotech_easylinkbundle_offre_sous_specialite" name="nanotech_easylinkbundle_offre[sous_specialite]"><option value="1">pose wc</option></select>
                                    </div>

                                    <div class="col-md-12">
                                        <textarea id="nanotech_easylinkbundle_offre_description" name="nanotech_easylinkbundle_offre[description]" required="required" maxlength="255" placeholder="Description detaillé des travaux requis"></textarea>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="nanotech_easylinkbundle_offre_adresse" name="nanotech_easylinkbundle_offre[adresse]" required="required" placeholder="Adresse" />
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="number" id="nanotech_easylinkbundle_offre_codePostale" name="nanotech_easylinkbundle_offre[codePostale]" required="required" placeholder="Code Postal" />
                                    </div>


                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="center-holder">
                                        <button type="submit">Envoyer</button>
                                    </div>
                                </div>
                                <input type="hidden" id="nanotech_easylinkbundle_offre__token" name="nanotech_easylinkbundle_offre[_token]" value="7skpX0goLavk1IrkADBsdmXfdNDw6erC4076tXFuN3o" /></form>
                            <!-- Form END -->
                        </div>

                    </div>


                </div>


                </div>
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Contact Section END -->




    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}


    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}

{% block script %}
    <script>
        toastr.options.showMethod = 'slideDown';
        toastr.options.hideMethod = 'slideUp';
        toastr.options.closeMethod = 'slideUp';
        toastr.options.positionClass = 'toast-top-full-width';
        toastr.options.progressBar = true
        toastr.options.closeButton = true;
        toastr.options.timeOut = 30000;
        toastr.options.extendedTimeOut = 6000;
        {% for flashMessage in app.session.flashbag.get('confirmer') %}

        toastr.success('{{ flashMessage }}')

        {% endfor %}

    </script>
{% endblock %}